@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLOURS */
:root {
    --BG-COLOUR: gold;

}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--BG-COLOUR);
}

main {
    flex-grow: 1;
}


header {
    text-align: center;
    text-transform: uppercase;
    max-height: 20vh;
    position: sticky;
    top: 0;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

footer {}